#headshot {
    width: 30%;
    height: auto;
    margin-right: 15%;
}

#about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bio>h1 {
    font-size: 37pt;
}

#bio>h2 {
    font-size: 22pt;
}

#bio {
    font-size: 16pt;
    width: 41%;
}

#bio>p>a {
    color: #FF238E;
}

#bio>p>a:hover {
    color: #FF238E;
}

#name {
    color: #FF238E;
}
