#headshot {
    width: 30%;
    height: auto;
}

#about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 91vh;
}

#bio>h1 {
    font-size: 42pt;
}

#bio>h2 {
    font-size: 28pt;
}

#bio {
    font-size: 16pt;
    width: 42vw;
}

#bio>p>a {
    color: #FF238E;
}

#bio>p>a:hover {
    color: #FF238E;
}

#name {
    color: #FF238E;
}
