#resume {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    align-items: center;
    padding-bottom: 5vw;
}

.resume-column>h2 {
    font-size: 2em;
}

.resume-column {
    text-align: left;
}

.resume-column>ul>li {
    list-style-type: none;
}

.decorative-pink {
    color: #FF238E;
}